body{
    background-image:url("verdinhofloral.webp") ;
    text-align: center;
}
h1{
    color: white;
}
#vlt{
    float: right;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    margin-right: 10px;
}
canvas{
box-shadow: 10px 10px 10px #5b8888;
border-radius: 10px;
margin-top: 60px;
}